body
{
	
	
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 15px;
	font-weight: 400;
	overflow-y: scroll;
}
.header
{
	height: 130px;
}
.nn-company
{
	color: #781f19;
	font-family: Impact;
	font-size: 50px;
	padding-bottom: 2px;
	position: absolute;
	text-shadow: 0 0 2px yellow;
	top: 0px;
}
#linkregister
{
	background-color: #f2c000;
	border: 1px solid #228b22;
	border-style: dotted;
	color: #781f19;
	text-decoration: none;
}
#linkregister:hover
{
	background-color: #eee2b6;
	box-shadow: 10px 10px 5px #888888;
	color: #781f19;
}
#linklosgin
{
	background-color: #f2c000;
	border: 1px solid #e74c3c;
	border-style: dotted;
	color: #781f19;
	text-decoration: none;
}
#linklosgin:hover
{
	background-color: #eee2b6;
	box-shadow: 10px 10px 5px #888888;
	color: #781f19;
}
#linkregisteremail
{
	background-color: #f2c000;
	border: 1px solid #228b22;
	border-style: dotted;
	color: #781f19;
	text-decoration: none;
}
#linkregisteremail:hover
{
	background-color: #eee2b6;
	box-shadow: 10px 10px 5px #888888;
	color: #781f19;
}
.bgmenu
{
	background-color: #f2c000;
	height: 42px;
}
.main_menu
{
	background: #00963c;
}
.main_menu>ul
{
	background-color: #00943a;
	float: left;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.main_menu>ul>li
{
	border-right: 1px dotted #fff;
	color: white;
	float: left;
	padding: 11px 27px;
	position: relative;
	text-align: center;
}
.main_menu>ul>li>a
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.main_menu>ul>li:last-child
{
	border-right: none;
}
.main_menu>ul>li>ul
{
	background: #00943a;
	display: none;
	left: 0px;
	list-style: none;
	position: absolute;
	top: 41px;
	width: 198px;
	z-index: 10000;
}
.main_menu>ul>li:hover ul
{
	display: block;
}
.main_menu ul li:hover
{
	background: #50af2d;
	transition: all 0.25s;
}
.main_menu>ul>li>ul>li
{
	cursor: pointer;
	margin-left: -40px;
	padding: 10px 10px;
}
.main_menu>ul>li>ul>li
{
	border-bottom: 1px dotted #ACACAC;
	
}
.main_menu>ul>li>ul>li>a
{
	color: white;
	font-weight:bold;

	text-decoration: none;
	
}
.btnbutton{
	
}
.lbinfoproduct{
	color:black;
	font-weight:bold;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right; 
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.hr_menu{
	height:50px;
	background-color:green;
	
}
.content_view{
	overflow-x:scroll;
}